@model EJERCICIOMVC.Models.Autor

@{
    ViewBag.Title = "Delete";
}

<h2>Desea borrar</h2>

<h3>Este autor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AU_TipoIdentificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AU_TipoIdentificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AU_Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AU_Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AU_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AU_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AU_Estado)
        </dt>

        <dd>
            @if(Model.AU_Estado == 1)
            {
                <span>ACTIVO</span>
            }
            else if(Model.AU_Estado == 0)
            {
                <span>INACTIVO</span>
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Borrar" class="btn btn-danger" /> |
    @Html.ActionLink(" Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-outline-primary bi bi-arrow-return-left" })
</div>
    }
</div>
