@model EJERCICIOMVC.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>del Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.US_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.US_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.US_Estado)
        </dt>

        <dd>
            @if(Model.US_Estado == 1)
            {
                <span>ACTIVO</span>
            }
            else if(Model.US_Estado == 0)
            {
                <span>INACTiVO</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.US_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.US_Tipodedocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_Tipodedocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.US_Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_Documento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "bi bi-pen-fill btn btn-info" }) |
    @Html.ActionLink(" Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-outline-primary bi bi-arrow-return-left" })
</p>
